body {
  color: rgb(125, 125, 125);
  font-family: "Roboto", sans-serif;
  font-size: 150%;
  text-align: left;
  margin: auto;
  width: 100%;
  background: linear-gradient(0deg, #0d304b, #000000);
}

h1 {
  color: rgba(255, 255, 255);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 300%;
  text-align: center;
  margin: auto;
  width: 100%;
}
h2 {
  color: rgb(251, 7, 81);
  font-family: "Montserrat", sans-serif;
  font-size: 175%;
  text-align: left;
  margin: auto;
  width: 100%;
}
footer {
  color: rgb(179, 186, 196);
  font-family: "Fira Code", monospace;
  font-size: 75%;
  text-align: center;
  margin: auto;
  width: 100%;
}
