body {
  color: rgb(255, 255, 255);
  font-family: "FiraCode", sans-serif;
  font-size: 150%;
  text-align: center;
  margin: auto;
  width: 100%;
  background: #0d304b;
}

h1 {
  color: rgba(255, 255, 255);
  font-family: "FiraCode", sans-serif;
  font-size: 300%;
  text-align: center;
  margin: auto;
  width: 100%;
}
h2 {
  color: rgb(251, 7, 81);
  font-family: "FiraCode", sans-serif;
  font-size: 175%;
  text-align: center;
  margin: auto;
  width: 100%;
}
